<!DOCTYPE html>
<html lang='en'>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <h1><a href="/">{{title}}</a></h1>
    <h3>Add new contract</h3>
    <form method="POST" action="/api/v1/contract">
        <label>Contract Address:</label><br>
        <input type="text" id="contract_address" name="contract_address" placeholder="e.g. 0x1e01f8e49FC5E3087751da6Df922736a3BfD9157"><br>
        <label>Contract ABI:</label><br>
        <input type="text" id="contract_abi" name="contract_abi" placeholder="[{...'inputs':..}]"><br>
        <input type="submit" name="submit_button"><br>
        {{banner}}
    </form><br>
    <h3>List of contracts</h3>
    <body>
        {% for item, doc in contracts_yaml.items() %}
            {% for address, address_doc in doc.items()%}
                <p>Contract address: {{address}}</p>
                <p>Web3 provider: {{address_doc.web3provider}}</p>
                <p>Contract active: {{address_doc.active}}</p>
                <p>Kafka topic: {{address_doc.topic}} <a href="http://{{kowl_server}}">Link to Kowl</a></p>
                <p>Available events: {{contract_event_types[address]}}</p>
                <form action="/api/v1/contract/{{address}}/subscribe" method="POST">
                    <input type="text" id="contract_event_type" name="contract_event_type" placeholder="MyEventType"><br>
                    <input type="submit" id="toggle_subscription" name="toggle_subscription" {% if address_doc.active == True %}value="Unsubscribe"{% else %}value="Subscribe"{% endif %}><br><br>
                </form>
            {% endfor %}
        {% endfor %}
    </body>
</html>